
.card-bg{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.card-degrees{
  font-size: 50px;
  font-weight: 400;
}

.icon-style {
  font-size: 70px;
  color: #ffffff;
}

.card-descr {
  font-size: 18px;
  font-weight: 200;
  position: relative;
}
.card-descr:before{
  content: "";
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #303030;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -9px;
}
.card-day{
  font-size: 30px;
  font-weight: 200;
}

