
@font-face {
  font-family: "Lato-light", sans-serif;
  src: url('/src/assets/fonts/Lato-Light.ttf') format('ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Lato-Regular", sans-serif;
  src: url('/src/assets/fonts/Lato-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Lato-Bold", sans-serif;
  src: url('/src/assets/fonts/Lato-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Lato-Black", sans-serif;
  src: url('/src/assets/fonts/Lato-Black.ttf') format('ttf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Display", sans-serif;
  src: url('/src/assets/fonts/DMSerifDisplay-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

