@import 'header';
@import 'articles';
@import 'footer';
@import 'card';
@import 'Page-404';
@import 'fonts';


*{
  box-sizing: border-box;
}
body{
  color: #303030;
  overflow-x: hidden;
}

.ReactModal__Overlay{
  z-index: 99999;
}

img{
  max-width: 100%;
}

.container{
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Lato', sans-serif;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}