.content-bg{
  padding-top: 60px;
}
.content-wrapper{
  height: 65vh;
  position: relative;
}

.content-grid{
  position: absolute;
  inset: 0;
  color: white;
  top: 23%;
}
.blur-image{
  filter: blur(3px);
  width: 100%;
  height: 100%;
  position: absolute;
}

.weather-city{
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 50px;
  text-align: center;
}

.weather-items{
  display: flex;
  justify-content: space-evenly;
}

